@import "tailwindcss";

@font-face {
    font-family: 'Space Grotesque';
    src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 700;
}

@theme {
    --color-primary: #1e1e1e;
    --color-secondary: #505050;
    --color-bg: #EFEFEF;
    --color-border: #6A6A6A;
}

:root {
    font-family: 'Space Grotesque', sans-serif;
    font-weight: 300;
    color: var(--color-primary);
    background-color: var(--color-bg);
}
